/* BELOW 1344px (Smaller desktops) */

@media (max-width: 84em) {




}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {

}


/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  
  html{
    font-size:55%;
   } 
}


/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  html{
    font-size:50%;
  }
  .tasks{
    grid-template-columns:repeat(2,1fr);
    gap:1.5rem;
    
  }
  


}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {

  html{
    font-size:45%;
  }
h1{
  font-size: 3.6rem;
}
h2{
font-size:2.4rem;
}
  .container{
   width:100%;
   margin:0;

}


  .tasks{
    grid-template-columns:30rem;
     gap:1.6rem;
  }
  .task{

  
  flex-direction: row;
}
